<!-- <p>table works!</p>

<h2>{{childvalue}}</h2> -->


<style>
    .styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

</style>

<p>table works!</p>
<table class="styled-table">
    <thead>
      <tr>
        <th *ngFor="let column of Headingfromdaily">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of Datafromdaily">
        <td *ngFor="let column of dataKeys">{{ row[column] }}</td>
      </tr>
    </tbody>
  </table>